@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@width-sidebar: 350px;

@black-light: #3f414c;
@black-light-extra: #363842;
@black-medium: #2d2e37;
@black-dark: #25262d;

@white-light: #ededed;
@white-medium: #b6b6b6;
@white-dark: #ededed;

@rde-green: #23a8a8;

body {
    font-family: 'Work Sans', system-ui, sans-serif;
}

#root {
    background-color: @black-dark;
    font-family: 'Work Sans', system-ui, sans-serif;
}

.rde-app-logo {
    width: 40px;
    margin-right: 10px;
}

.rde-editor-configurations {
    width: @width-sidebar;
}

.rde-content-layout-title {
    background-color: @black-light;
    box-shadow: rgba(0, 0, 0, .3) 0px 0px .3rem;
    border: 0;
    z-index: 600;
}

.rde-tools {
    background-color: @black-light;
    z-index: 500;

    &-content {
        padding-top: 60px;
        padding-right: 12px;
        color: @white-light;
    }

    &-title {
        text-transform: uppercase;
        color: @white-medium;
        padding-bottom: 12px;
    }

    &-collapse {
        background-color: @black-dark;
        border: 0;
        border-radius: 0;

        .ant-collapse {
            &-item {
                border: 0;
            }

            &-header {
                color: @white-medium !important;
                text-transform: uppercase;
            }

            &-content {
                background-color: @black-dark;
                border: 0;
                border-radius: 0;
                color: @white-light;
            }
        }
    }

    .ant-tabs {
        &-bar {
            border: 0;
        }

        &-content {
            background-color: @black-medium;
            border: 0;
        }

        &-tab {
            padding: 10px !important;
            margin: 0 !important;
            display: block;
            width: 50px;
            text-align: center !important;
            font-size: 20px;
            color: #999;

            &-active {
                color: @white-light;
            }
        }
    }
}

.rde-editor-items-item {
    background-color: @black-dark;
    color: @white-light;

    &:after {
        content: none !important;
    }
}

.rde-editor-footer-toolbar {
    display: flex;
    padding: 10px;
    background-color: @black-light;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .8);
    transition: left .2s ease-in-out;
    z-index: 100;

    &-container {
        flex: 1 1 0%;
        display: flex;
    }

    button {
        color: @white-light !important;
        font-size: 16px;

        &:disabled {
            color: #999 !important;
        }
    }

    &-zoom {
        box-shadow: none;
        background-color: @black-light-extra;
        border-radius: 0;

        button {
            background-color: transparent;
        }

        &-value {
            min-width: 150px;
        }
    }

    &-preview {
        display: flex;
        align-items: center;
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;

        .ant-switch::after {
            background-color: @white-dark;
        }
    }
}

.rde-action-dropdown {
    background-color: transparent;
    color: @white-light;
    border: 1px solid @black-light;

    &:hover,
    &:focus {
        background-color: @black-light;
    }
}

.ant-dropdown-menu {
    background-color: @black-medium;

    &-item {
        color: @white-light;

        &:hover,
        &:focus {
            background-color: @black-light;
        }
    }
}

.rde-contextmenu-right {
    padding: 0;

    ul {
        background-color: transparent;
        border: 0;
        color: @white-light;
    }
}

.ant-menu-submenu > .ant-menu {
    background-color: @black-dark;
}

.ant-menu-item {
    margin: 0 !important;

    .rde-editor-items-item:hover {
        background-color: @black-light;
    }
}

.rde-control {
    position: absolute;
    width: 250px;
    height: 400px;
    z-index: 1000;
    background-color: @black-dark;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0,.5);
    border-radius: 0;
}

.rde-card {
    &-header {
        background-color: @black-light;
        color: @white-light;
        padding: 10px;
        display: flex;
        font-size: 16px;
        align-items: center;

        &-actions {
            margin-left: auto;

            button {
                color: @white-light;
            }
        }
    }

    &-body {
        background-color: @black-dark;
        color: @white-light;

        button {
            color: @white-light;
        }
    }
}

.rde-help-content {
    font-size: 14px;
    max-width: 400px;

    &-text {
        color: @white-light;
        padding: 10px;
    }

    &-action {
        border-top: .5px solid @black-light;
        padding: 10px;
        text-align: right;
    }
}

.ant-popover {
    z-index: 5000;

    &-title {
        display: none;
    }

    &-arrow {
        border-right-color: @black-dark !important;
        border-bottom-color: @black-dark !important;
    }

    &-inner {
        border-radius: 0;

        &-content {
            background-color: @black-dark;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, .5);
            padding: 0;
        }
    }
}
.rde-canvas-list-items {
    border-top: .5px solid @black-light;
}

.rde-canvas-list-item {
    cursor: pointer;
    padding: 0px 10px;

    button {
        color: @white-medium;
    }

    &:hover,
    &.selected-item {
        background-color: @black-light;
    }
}

.rde-main .rde-image-opener {
    position: absolute;
    transform: scale(0);
    transition: transform 0.3s linear;
    transform-origin: bottom right;

    &.showImageOpen {
        width: 100%;
        height: 100%;
        transform: scale(1);
        background: @black-dark;
        z-index: 5000;
    }

    .image-box {
        width: 600px;
        margin: auto;
        padding: 30px;
        background-color: @black-light;
        box-shadow: rgba(0, 0, 0, .3) 0px 0px .5rem;

        img {
            width: 100%;
            transition: transform 1s ease;
            cursor: pointer;

            &:hover {
                border: 2px solid @rde-green;
            }
        }

        h3 {
            color: @white-light;
            text-align: center;
            font-size: 16px;
        }

        &__upload {
            text-align: center;
            padding: 10px;
        }
    }
}

.ant-btn.menu-item {
    color: @white-light;
    text-transform: uppercase;
}

.propery-control {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 1500;
    background-color: rgba(0, 0, 0, .7);
    transition: transform 0.3s;
    width: 350px;
    transform: translateX(-100%);

    &.collapsedControl {
        transform: translateX(0);
    }

    .rde-card {
        top: 40%;
        position: relative;
        transform: translateY(-40%);
        width: 300px;
    }

    .ant-collapse-borderless {
        background-color: @black-dark;

        > .ant-collapse-item {
            border-bottom: 1px solid @black-medium;
        }
    }

    .ant-collapse-header {
        color: @white-light !important;
    }

    .ant-form {
        label, input, .ant-tag {
            color: @white-medium !important;
        }
    }

    .ant-radio-button-wrapper,
    .ant-upload.ant-upload-drag {
        border: 1px solid @black-medium;
        background-color: @black-light;
        color: @white-medium;

        p {
            color: @white-medium !important;
        }
    }

    .ant-select-selection {
        background-color: @black-medium;
        color: @white-medium;
        border-color: @white-medium;

        .ant-select-arrow .ant-select-arrow-icon svg {
            color: @white-medium;
        }

        &:active,
        &:focus {
            color: @rde-green;
            border-color: @rde-green;

            .ant-select-arrow .ant-select-arrow-icon svg {
                color: @rde-green;
            }
        }
    }
}

.rde-image-open-tab {
    // padding: 10px 10px 0px;
    // background-color: @black-dark;

    button {
        width: 100%;
    }

    &__gallery {
        padding: 12px 0px;

        .gallary-col {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .gallary-item {
            height: 120px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    }
}

.ant-select-dropdown {
    z-index: 2000;

    .ant-select-dropdown-menu-item {
        background-color: @black-medium !important;
        color: @white-medium !important;

        &-active {
            background-color: @black-light !important;
        }

        &-selected {
            background-color: @black-light !important;
            color: @white-light !important;
        }
    }

    .ant-select-dropdown-menu-item-group-title {
        background-color: @black-dark !important;
        color: @white-light !important;
        font-weight: 600;
    }
}
