@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@width-sidebar: 350px;

@black-light: #3f414c;
@black-light-extra: #363842;
@black-medium: #2d2e37;
@black-dark: #25262d;

@white-light: #ededed;
@white-medium: #b6b6b6;
@white-dark: #ededed;

@rde-green: #23a8a8;

#root {
    overflow: auto !important;
}

.landing {
    display: block;
    min-height: 100vh;
    width: 100%;
    background: @black-dark;
    background: linear-gradient(0deg, @black-light 0%, @black-dark 100%);
}

.landing-header {
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;

    &__container {
        width: 1140px;
        padding: 0;
        margin: 0 auto;

        .ant-btn {
            text-transform: uppercase;
            box-shadow: none;
            color: @white-light;
            margin: 0 10px;

            &.btn--filled {
                background-color: @rde-green;
                border: 1px solid @rde-green;
                color: @white-light;
            }
        }
    }
}

.landing-banner {
    color: #fff;

    &__container {
        width: 1140px;
        padding: 0;
        margin: 0 auto;
        padding-top: 160px;

        h1 {
            font-size: 4em;
            font-weight: 600;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
        }

        h2 {
            text-align: center;
            color: @white-medium;
            margin-bottom: 20px;
        }

        .ant-btn {
            text-transform: uppercase;
            box-shadow: none;
            min-width: 200px;
            font-size: 16px;
            margin: 0 20px;
            height: 40px;
            line-height: 40px;

            &.btn--filled {
                background-color: @rde-green;
                border: 1px solid @rde-green;
                color: @white-light;
            }

            &.btn--transparent {
                background-color: transparent;
                border: 1px solid @rde-green;
                color: @rde-green;
            }
        }
    }

    &__images {
        display: flex;
        padding: 0 8px;
        z-index: 1;
        align-items: center;
        perspective: 1000px;
        justify-content: space-between;

        > div {
            position: absolute;
            bottom: 0;
            z-index: 1;
            transform-style: preserve-3d;
        }
        &__m1 {
            left: 0;
            position: relative;
        }
        &__m2 {
            left: 20%;
            transform: rotateY( 30deg );
        }
        &__m3 {
            right: 10%;
            transform: rotateY( 30deg );
        }
        &__m4 {
            right: -5%;
            transform: rotateY( 30deg );
        }
    }
}

.landing-feature {
    color: #fff;
    padding-top: 120px;

    &__container {
        width: 1140px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        h1 {
            color: #fff;
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            color: @white-light;
        }

        &:after {
            top: -30px;
            width: 40px;
            height: 6px;
            content: "";
            position: absolute;
            background: @rde-green;
            border-radius: 6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.landing-tech {
    color: #fff;
    padding-top: 120px;

    &__container {
        width: 1140px;
        margin: 0 auto;
        position: relative;

        h1 {
            color: #fff;
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            color: @white-light;
        }

        &:after {
            top: -30px;
            width: 40px;
            height: 6px;
            content: "";
            position: absolute;
            background: @rde-green;
            border-radius: 6px;
            left: 0;
        }
    }

    &__title {
        margin-bottom: 20px;

        div {
            font-size: 16px;
        }
    }

    &__card {
        background-color: @black-light;
        box-shadow: rgba(0, 0, 0, .3) 0px 0px .5rem;
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform .3s ease, box-shadow .3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0,.3), 0 6px 12px -10px rgba(0, 0, 0,.4);
        }

        img {
            width: 100%;
        }

        &__content {
            padding: 10px 20px;

            h2 {
                color: #fff;
                font-weight: 600;
                margin-bottom: 5px;
            }

            div {
                color: @white-medium;
            }
        }
    }
}

.landing-showcase {
    color: #fff;
    padding-top: 120px;

    &__container {
        width: 1140px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        h1 {
            color: #fff;
            margin-bottom: 0;
            padding-bottom: 50px;
        }

        &:after {
            top: -30px;
            width: 40px;
            height: 6px;
            content: "";
            position: absolute;
            background: @rde-green;
            border-radius: 6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__row {
        img {
            width: 100%;
        }

        > div {
            flex: 1;
        }

        .btn--filled {
            text-transform: uppercase;
            box-shadow: none;
            min-width: 200px;
            font-size: 16px;
            margin: 0 20px;
            height: 40px;
            line-height: 40px;
            background-color: @rde-green;
            border: 1px solid @rde-green;
            color: @white-light;
        }
    }

    &__text {
        text-align: left;
        padding: 20px;

        h3 {
            color: #fff;
            font-size: 22px;
            font-weight: 600;
        }

        div {
            color: @white-light;
            font-size: 16px;
        }
    }
}

.landing-contact {
    color: #fff;
    padding-top: 120px;

    &__container {
        width: 1140px;
        margin: 0 auto;
        position: relative;

        h1 {
            color: #fff;
            margin-bottom: 0;
            padding-bottom: 50px;
        }

        &:after {
            top: -30px;
            width: 40px;
            height: 6px;
            content: "";
            position: absolute;
            background: @rde-green;
            border-radius: 6px;
            left: 0;
        }
    }

    &__form {
        > div {
            flex: 1;
            padding: 10px;
        }

        input {
            margin-bottom: 33px;
            color: #fff;
            font-size: 16px;
        }

        textarea {
            font-size: 16px;
            color: #fff;
        }
    }
}

.landing-footer {
    color: #fff;
    padding-top: 50px;

    &__container {
        width: 1140px;
        margin: 0 auto;
        position: relative;
        padding: 50px 0px;
        border-top: 1px solid @black-light-extra;
    }

    .gutter-row {
        h3 {
            color: @rde-green;
            font-weight: 600;
        }

        > div {
            padding: 5px 0px;
        }

        a {
            color: @white-medium;
            font-size: 16px;
        }
    }

    &__copyright {
        text-align: center;
    }

}

.auth {
    display: block;
    min-height: 100vh;
    width: 100%;
    background: @black-dark;
    background: linear-gradient(0deg, @black-light 0%, @black-dark 100%);
    padding: 10vh 5vw;

    &__container {
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        background-color: @black-light;
        box-shadow: rgba(0, 0, 0, .3) 0px 0px 1rem;

        .welcome {
            min-height: 70vh;
            position: relative;

            &__content {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(0deg, rgba(35, 168, 168, .8) 0%, rgba(35, 168, 168, .5) 100%);
                padding: 30px;
            }

            &__text {
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                h1 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 1.2;
                }

                h3 {
                    color: @white-light;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.2;
                }
            }
        }
    }

    &__form-wrapper {
        padding: 30px 40px;
    }

    &__form-logo {
        text-align: center;
        padding-bottom: 50px;

        h1 {
            color: #fff;
        }

        img {
            width: 50px;
        }
    }

    &__form {
        padding-bottom: 50px;

        .ant-form-item {
            padding: 10px 0;
            color: #fff;
        }

        .ant-input-suffix {
            color: #fff;
        }

        input {
            color: #fff;
            padding-left: 0;
        }

        label {
            font-size: 14px;
            color: @white-medium;
        }

        .ant-btn {
            width: 100%;
            height: 40px;
        }
    }

    &__switching {
        color: @white-medium;
        font-size: 16px;
        text-align: center;
    }

}
